

.bioma-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 20px;
}

.bioma-details img {
  width: 100%; 
  border-radius: 50%; 
  margin-bottom: 10px; 
}



.bioma-details h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.monster-card {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .monster-card {
    width: 90%;
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .monster-card {
    width: 70%;
  }
}

@media (min-width: 1201px) {
  .monster-card {
    width: 60%;
  }
}
