

.bioma-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 20px;
}

.bioma-details img {
  width: 100%; 
  border-radius: 50%; 
  margin-bottom: 10px; 
}



.bioma-details h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}
