@font-face {
  font-family: 'MonsterHunter';  
  src: url("client/public/assets/monsterhunterfont.TTF") format('png'); 
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: orange;
  color: #fff;
  font-size:xx-large;
  font-family: "mhfont.png", sans-serif;
  min-height: 15vh;
}

.menu-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.menu-icon:hover {
  opacity: 0.8; 
}

a{
    text-decoration: none;
    font-size: x-large;
    color: #fff;
    transition: color 0.3s ease; 
}

a:hover {
  color: #a00ea3; 
}

.user-photo {
  width: 120px; 
  height: 120px; 
  border-radius: 50%; 
  object-fit: cover; 
}

/* Estilo para el fondo del menú hamburguesa */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background-color: rgba(0, 0, 0, 0.3); 
}


